html, body {

    background-image: url('http://localhost/youtube/public/images/zdjecie1.jpg');
    background-attachment: fixed;
    margin:0;
    padding:0;
    height:100%;
    width: 100%;
}

#conteiner {
    height:100%;
    margin: 0 auto 150px; 
}

#header-row {
    --bs-gutter-x: 0;
}

#content {

    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 150px; 
}
#push {
    height: 150px;
}

#footer {
    background: black;
    opacity: 0.9;
    width: 100%;
    height: auto;
}

.s  {
    color: maroon;
    font-family: courier;
    font-size: 180%;
    padding: 0;
}

.c {
    color: #1Ee;
    font-family: 'Courier New';
    font-size: 170%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#head1 {
    margin: auto;
    margin-bottom: 15px;
    background-color: black;
    border: 1px solid black;
    opacity: 0.9;
}

.navbar-nav {
    display: -webkit-box;
}

.navbar {
    position: inherit;
    display: block;
}

#productdescription {
    padding-top: 75px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    font-family: monospace;
    color: darkgray;
}

#katalogs_product {
    color: cadetblue;
    text-decoration: dashed;
    font-family: monospace;
}
#avaiable_prod {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#avaiable_prod td, #avaiable_prod th {
    border: 1px solid #ddd;
    padding: 8px;
}

#avaiable_prod tr:nth-child(even){background-color: gray;}

#avaiable_prod tr:hover {background-color: #ddd;}

#avaiable_prod th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #6973a6;
    color: white;
}

.form_view {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#col_form_placing {
    display: inline-table;
}

#row_form_placing {
    display: inline-table;
    margin: 25px;
}

.size_button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
}


#cartH1 {
    color: dimgray;
    background: linear-gradient(black, brown);

}

#cartH2 {
    text-align:right;
    margin-right: 20px;
}

#sumRow {
    display: inline-block;
}
#sumConteiner {
    background-color: red;
    width: 20%;
    background-color: brown;
    text-transform: uppercase;
    border-radius: 15px;
}

#orderDetailsBorder {
    border-style: dashed;
    text-align:center;
    background-color: beige;
    margin-bottom: 20px;
}
.newsletter-footer {
    width: 40rem;
    margin: 2% auto;
    border-style: dashed;
}

#newsletter-header {
    text-align:center;
}

.newsletterBackground {
    height: 87vh;
    margin-right: 30px;
    background: linear-gradient(
        rgba(0,0,0,0.8), 
        rgba(0,0,0,0.1)),
        url('http://localhost/youtube/public/images/newsletter.jpg');
    background-size: cover;  
}

.newsletter-data {
    color: royalblue;
    padding-top: 20px;
    padding-right: 65%;
    padding-bottom: 50px;
    padding-left: 120px;
}

.highlighted {
    background-color: aliceblue!important;
}

#settings {
    width: 100px;
    height: 150px;
    margin: 150px auto;
    background-color: red;
}

.backgroundsetting {
    background-color: darkblue;
    opacity: 70%;
}

.more-info {
    color: black;
    display: none;
}
.info-link {
    color: brown;
    text-decoration: unset;
}

#payment-section {
    width: 250px;
    margin: 15px auto;
}

.conteiner-catalog {
    margin-top: 50px;
    background: linear-gradient(to top, #485563, #29323c);
    backface-visibility: visible;
    border-radius: 15px;
}
#row-width {
    width: 100%;
}
.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

#catalog-photo {
    margin: 3px;
    border: 4px solid whitesmoke;
    border-radius: 4px;
    cursor: pointer;
    filter: brightness(80%);
    transition: all .3s ease-in-out;
}

#catalog-photo:hover {
    border: 4px solid #209781;
    filter: brightness(100%);
}

.transition {
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#zoom {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    width:80px;
    margin:25px;
}
#zoom:hover {
    border: 4px solid #209781;
    filter: brightness(100%);
}

#conteiner-product {
    background: linear-gradient(to top, #485563, #29323c);
    margin-left: 50px; 
    margin-right: 50px; 
}

.form-select {
    width: auto;
    display: initial;
}

#conteiner-cart {
    background: linear-gradient(to top, #485563, #29323c);
}

.center {
    margin: auto;
    width: 40%;
    border: 3px solid white;
}

#all-products {
    background: purple;
}

.button-style {
    background-color: #c2fbd7;
    border-radius: 50px;
    border-width: 0;
    box-shadow: rgba(25,25,25,.04) 0 0 1px 0,rgba(0,0,0,.1) 0 3px 4px 0;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,sans-serif;
    font-size: 1em;
    height: 50px;
    padding: 0 25px;
    transition: all 200ms;
}

.button-74 {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-74:hover {
    background-color: #fff;
}

.button-74:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-74 {
        min-width: 120px;
        padding: 0 25px;
    }
}

.form-error {
    color: red;
}

.input-error {
    box-shadow: 0 0 5px red;
}

.form-success {
    color: green;
}
.input-error {
    box-shadow: 0 0 5px red;
}
.input-success {
    box-shadow: 0 0 5px green;
}
#newsletter-form-row {
    margin-top: 5px;
    display: none;
}

form#register {
    display: none;
}

#conteiner-checkout {
    background: linear-gradient(to top, #485563, #29323c);
}
